* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* width: 1220px; */
  background-color: hsl(30, 54%, 90%);
  /* background-color: rgb(145, 15, 8); */
  color: hsl(24, 5%, 18%);
}

.recipeContainer {
  width: 65%;
  margin: 98px auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 22px;
}

.recipeImgContainer {
  padding: 36px;
  padding-bottom: 0;
}

.recipeSection {
  padding: 36px;
}

.recipeImg {
  width: 100%;
  border-radius: 12px;
}

.sectionMarginBottom {
  margin-bottom: 36px;
}

.textMarginBottom {
  margin-bottom: 22px;
}

.recipeTextContainer {
  margin-bottom: 36px;
}

.recipePreparation {
  padding: 22px;
  background-color: hsl(330, 100%, 98%);
  border-radius: 12px;
  margin-bottom: 16px;
}

.recipePreparationHeader {
  color: hsl(332, 51%, 32%);
  margin-bottom: 16px;
}

.recipeList {
  margin-left: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.textContainer {
  padding-bottom: 36px;
  border-bottom: 2px solid hsl(30, 18%, 87%);
}

.secondaryHeader {
  color: hsl(14, 45%, 36%);
  margin-bottom: 16px;
}

strong {
  color: hsl(30, 10%, 34%);
}

ol li,
ul li {
  padding-left: 8px;
}

ol li::marker,
ul li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.nutritionTable {
  width: 100%;
  border-collapse: collapse;
}

.nutritionTable td {
  padding: 16px 0px;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-left: 28px;
}

.nutritionTable tr:last-child td {
  border: 0;
}

@media (max-width: 576px) {
  .recipeContainer {
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  .recipeImgContainer {
    padding: 0;
  }

  .recipeSection {
    padding: 22px;
  }
  .recipeImg {
    border-radius: 0;
  }
  p {
    text-align: justify;
  }
}
